@charset "utf-8";

/*GLOBAL*/

@font-face {
    font-family: 'CremeGlaceeInkBleed-Regular';
    src: url('CremeGlaceeInkBleed-Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

.image-column,
.text-column {
  flex: 1;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .container-home {
    display: flex;
    flex-direction: column;
  }

  .image-column {
    order: 1;
    text-align: center;
  }

  .text-column {
    order: 2;
    align-content: center;
  }

  .text-column h1 {
    margin-top: 10px; 
  }

  .text-column p {
    margin-top: 10px; 
  }
}


p{
      font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400; 
    line-height: 1.5;
    color: white;
}

body{
    background-color: black!important; 
      background-image: url('FilmScratches.png'); /* Vintage texture image */
      background-size: 100%;
      background-attachment: scroll; 
     
}


#unique-title {
   font-family: "Montserrat", sans-serif;
    font-size: 26px!important;
    font-weight: 400; 
    text-transform: uppercase;
    color: #ffffff!important;
    letter-spacing: 2px;
    font-weight: 200; 
}

.text-link {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.text-link::after {
   /* content: " \2192"; */
    margin-left: 5px;
    color: lightgrey;
    transition: color 0.3s;
}

.text-link:hover {
    color: lightgrey;
    text-decoration: none;
}

a{
  font-family: "Montserrat", sans-serif;
   font-size: 13px;
  color: white;
}

a:hover {
    color: #cccccc!important;
    text-decoration: none;
}


/* NAVIGATION */
.navbar {
    margin-bottom: 0px!important;
    box-shadow: none;
}
.navbar-inverse {
    background-color: black!important;
    border-color: black;
    border-radius: 0!important;
    padding: 15px;
    box-shadow: none; 
}
.navbar-inverse .navbar-brand {
    color: white!important;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    letter-spacing: .2em;
    font-weight: 400;
}
.navbar-inverse .navbar-nav > li > a {
    color: white!important;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    font-weight: 600;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    border: 1px solid darkgrey; 
    border-radius: 0;
    left: 0; 
    right: auto; 
    background-color: #1e1e1e;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    font-family: "Montserrat", sans-serif;
    color: white!important;
    font-size: 12px;
    letter-spacing: .2em;
    font-weight: 600;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus {
    color: darkgrey!important;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent!important;   
}

.navbar-header .navbar-brand {
    white-space: normal; 
}

.navbar-toggle {
    margin-left: auto; 
    margin-right: 5px!important;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent!important;
    border-color: #333!important;
}
.dropdown-toggle {
    cursor: pointer; 
    color: white; 
    text-decoration: none; 
}

/* Show dropdown menu on hover (desktop only) */
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li.dropdown:hover .dropdown-menu {
        display: block;
        color: darkgrey!important;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #B0B3B8!important; /* hover color */
    }
}




@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .special-items {
        display: inline-block; /* Display list items inline */
    }
    .navbar-inverse .navbar-nav .special-items a {
        padding-left: 10px;
    }
.navbar-inverse .navbar-brand {
        font-size: 12px;
    }
  .video-container .content h2{
    font-size: 14px;
    line-height: 22px;
  }
  .video-container .content p{
    font-size: 17px;
}
}




/* Custom Styles for Mobile Dropdown */
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .dropdown-menu {
        background-color: #333; 
        border: none; 
        box-shadow: 0 2px 10px rgba(0,0,0,0.5); 
    }
    .navbar-inverse .navbar-nav .dropdown-menu > li > a {
        color: #fff; 
        padding: 10px 20px;
    }
    .navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .dropdown-menu > li > a:focus {
        color: #ccc; 
        background-color: #444; 
    }
    .navbar-inverse .navbar-nav .dropdown-menu > li {
        border-bottom: 1px solid #444; 
    }
}






/* TRAILER */
.trailer-video {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1;
}

@media (min-width: 768px) {
    .trailer-video {
       max-width: 75%;
}
    .content {
    top: 50%;
}
}

@media (max-width: 768px) {
    .video-container {
         max-width: 100%;
    }
}


 /* COVER VIDEO */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
}

.background-video {
  display: block;
}

.background-video-mobile {
  display: none;
}

/* Mobile devices */
@media (max-width: 515px) {
  .background-video {
    display: none;
  }
  .background-video-mobile {
    width: 100%;
    display: block;
    opacity: 0.5;
    z-index: 1;
  }
    
.content {
    top: 40%;
}
}





.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, black 0%, transparent 100%);
    z-index: 2;
}


.content {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
    min-width: 70%;
}

.video-container .content .cta-button{
margin-top: 20px;
}

.content h1 {
    margin: 0.5em 0;
    font-size: 4.5em;
}

.content h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.content p {
    font-size: 1em;
    margin: 0.5em 0;
}

.cta-button {
     padding: 0.75em 1.5em;
     font-size: 1em;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 1); 
        color: white; 
    background-color: #1e1e1e;
      border: 1px solid darkgrey;   
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition for smooth effect */
}

.cta-button:hover {
    background-color: #1e1e1e; 
    color: #fff;
    transform: scale(1.05); 
}






 /* MOBILE COVER */
@media (max-width: 515px) {
    .video-container {
        height: 70vh;
    }
    .background-video {
        height: 70vh;
    }
  
    .content{
        min-width: 85%;
    }
    .content h1 {
    font-size: 1.8em;
}
       .content h2 {
    font-size: 10px;
}
}



/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the fade-in animation to the content elements */
.video-container .content h1,
.video-container .content h2,
.video-container .content p,
.video-container .content .cta-button {
    opacity: 0; /* Initial state */
    animation: fadeIn 2s ease-in-out forwards; /* Animation duration and easing */
}

.video-container .content h2 {
    animation-delay: 0.5s; /* Delay before the h1 fades in */
   font-family:  Montserrat;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.video-container .content h1 {
    animation-delay: 0.5s; /* Delay before the h2 fades in */
     font-family: "CremeGlaceeInkBleed-Regular";
    letter-spacing: 3px;
     font-weight: 600;
    text-transform: uppercase;
    
}

.video-container .content p {
    animation-delay: 1s; /* Delay before the paragraph fades in */
     font-family: Montserrat;
     font-weight: 400;
}

.video-container .content .cta-button {
    animation-delay: 1.5s; /* Delay before the button fades in */
     font-family: Montserrat;
     font-weight: 500;
}





 /* LOADING GIF */

    #loading-overlay {
      display: none; /* Hidden by default */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); 
      z-index: 9998; 
    }

    /* CSS for the loading spinner */
    #loading-spinner {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999; 
    }

    #loading-spinner img {
      width: 300px; 
      height: 251px; 
    }







 /* CAROUSEL */

.owl-carousel{
        background-color: black;
   padding-top: 70px;
    padding-bottom:80px;
        }
.owl-carousel .item {
  overflow: hidden; 
  position: relative;
}

.owl-carousel .item img {
  transition: transform 0.3s ease; 
  width: 100%; 
  height: auto; 
}


.owl-carousel .item:hover img {
  transform: scale(1.0);
}

.owl-carousel .item .overlay {
      font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: end;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  padding: 20px;
  text-align: center; 
}


.owl-carousel .item:hover .overlay {
  opacity: 1; 
}


.owl-theme .owl-dots, .owl-theme .owl-nav{
  padding-top:15px!important;
}
.owl-theme .owl-nav{
  display: none!important;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    background: transparent!important;
}

 /* MOBILE CAROUSEL*/
@media (max-width: 768px) {
  .owl-carousel{
   padding-top: 0px;
}
}








     /* TIMELINE */


.timeline {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    padding-top: 100px;
  padding-bottom: 70px;
  background-color: black;
   margin-bottom: 100px; 
}

.years {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.year {
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    color: #333;
}

.year.selected {
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 15px;
    height: 15px;
    font-size: 20px;
}

.year::before {
    content: attr(data-year);
    position: absolute;
    color: #333;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.year::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
}


.year.selected::after {
    background-color: #fff;
}

.year.selected ~ .year::after {
    color: #fff;
}
        
        

.year.selected ~ .year {
    color: #333;
}

.years::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    color: #333;
    background-color: #333;
    z-index: 0;
}


.years .selected::before {
    color: #fff;
}

.content-timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.slide.active {
    opacity: 1;
    position: relative;
}

.slide img {
    width: 400px;
    height: 250px;
    margin-right: 20px;

}

.text {
    text-align: left;
    width: 60%;
    padding: 25px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
      font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
}

.text p {
    font-size: 14px;
      font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
}

.mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.mobile-nav button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

@media (max-width: 768px) {
    .years {
        display: none;
    }

    .content-timeline {
        width: 100%;
        padding: 0;
        border: none;
        flex-direction: column;
    }
.timeline{
padding-top: 25px;
    padding-bottom: 25px;  
}
    .text {
        padding: 0 20px;
        width: 100%;
        text-align: center;
    }

    .slide img {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    .slide {
        display: block;
    }
}







/* REVIEWS */

.review-container {
    background-color: black;
    position: relative;
    max-width: 80%; 
    margin: 0 auto; 
    text-align: center; 
}

.review-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
 margin-bottom: 100px;
}

.stars {
    font-size: 17px;
    color: white;
    text-align: center;
    letter-spacing: 8px;
}

.review-text {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
    padding: 25px 50px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    color: #ebecf0;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1;
}

.arrow-left {
    left: 10px; 
}

.arrow-right {
    right: 10px; 
}

/* Mobile Styles */
@media (max-width: 750px) {
    .review-container {
        overflow: visible;
        max-width: 100%;
    }
}


     /* FOOTER */


.footer {
    background-color: #151515;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    padding: 10px;
}

.footer-title {
    font-size: 24px;
    font-family: "CremeGlaceeInkBleed-Regular";
    letter-spacing: 3px;
    font-weight: bold;
    margin: 0;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-column a:hover {
    text-decoration: none;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.social-icons a:hover{
  color: darkgrey;
}

.social-icons img:hover {
color: darkgrey;
}


.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff; 
    font-size: 20px; 
    text-decoration: none;
}

.social-icons a:last-child {
    margin-right: 0;
}

.copyright-bar {
    background-color: #1f1f1f;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
     font-family: "Montserrat", sans-serif;
}


@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-column {
     
    }
   .footer-column:nth-child(1) {
        order: 3; 
    }

    .footer-column:nth-child(2) {
        order: 1; 
    }
    .footer-column:nth-child(3) {
        order: 2; 
    }

}


/* Desktop alignment */
@media (min-width: 769px) {
    .footer-column:first-child {
        text-align: left;
    }
    .footer-column:nth-child(2) {
        text-align: center;
    }
    .footer-column:last-child {
        text-align: right;
    }
}


/* HOME PAGE BACKGROUND IMAGE*/

.hero-container, .feature-section {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.hero-container {
    height: 30vh; /* Original cover section height */
}

.feature-section {
    height: 50vh; /* New scroll section height */
}

.hero-image, .feature-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8; /* Adjust opacity for darker effect */
}

.feature-image {
    background-image: url('BW-Gasser.jpg');
}

.hero-overlay, .feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5; /* Black overlay behind the image */
}

.hero-text, .feature-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1; /* Ensure text is above overlay and image */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Subtle drop shadow */
}

.hero-text h1, .hero-text p, .feature-text p {
    margin: 0;
}

.hero-text p, .feature-text p {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.hero-text h1 {
    font-size: 3em;
    letter-spacing: 0.05em;
}

.feature-text p {
    font-size: 1.2em;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.0); /* Slight background for better readability */
    display: inline-block;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p, .feature-text p {
        font-size: 1em;
    }
}

.main-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}

/* FESTIVALS */


.festivals-container {
    background-color: black;
    position: relative;
     justify-content: center;
    align-items: center;
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
  padding-bottom: 50px;
  padding-top: 50px;
}

/* CONTACT */


.contact-container {
    background-color: black;
    position: relative;
    display: flex;
     justify-content: center;
    align-items: center;
    max-width: 80%; 
    margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}




/* SUB PAGE COVER IMAGES */


.cover-container {
    position: relative;
    text-align: center;
    color: white;
    height: 40vh;
    overflow: hidden; 
}

@media (max-width: 768px) {
    .cover-image-contact {
        height: 25vh;
        text-align: center;
        overflow: hidden; 
    }
}

.cover-image-contact {
    background-image: url('Cover2.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-contact {
        background-image: url('contact-mobile.jpg');
     background-size: contain;
     background-position: top;
    }
}







.cover-image-bios {
    background-image: url('Bio-JohnJackie.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-bios {
        background-image: url('Bios-2025-Mobile.png');
     background-size: contain;
     background-position: top;
    }
}



.cover-image-terms {
    background-image: url('use-cover.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-terms {
        background-image: url('use-mobile.jpg');
     background-size: contain;
     background-position: top;
    }
}


.cover-image-privacy {
    background-image: url('privacy-cover.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-privacy {
        background-image: url('privacy-mobile.jpg');
     background-size: contain;
     background-position: top;
    }
}



.cover-image-updates {
    background-image: url('update-cover.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-updates {
        background-image: url('updates-mobile.png');
     background-size: contain;
     background-position: top;
    }
}





.cover-image-festivals {
    background-image: url('festivals-cover.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; 
}

@media (max-width: 768px) {
    .cover-image-festivals {
        background-image: url('festivals-mobile.jpg');
     background-size: contain;
     background-position: top;
    }
}




.cover-text h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5; 
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Subtle drop shadow */
}

.cover-text h1, .cover-text p {
    margin: 0;
}

.cover-text p {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.cover-text h1 {
    font-size: 36px;
    letter-spacing: 0.1em;
 font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
.cover-text h1 {
    font-size: 30px;
}
}


.main-content {
    background-color: white;
    padding: 20px;
    text-align: center;
}


